.search {
    .InputFromTo {
        display: inline;

        input {
            width: 90px;
        }
    }
}

.noinline{
        display: inline-block;
 
}

.fontsize{
    font-size: small
}